<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Designer</th>
      <th>Artist</th>
      <th>Publisher</th>
      <th>Min players</th>
      <th>Max players</th>
      <th>Play time</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.designer %></td>
        <td><%= game.artist %></td>
        <td><%= game.publisher %></td>
        <td><%= game.min_players %></td>
        <td><%= game.max_players %></td>
        <td><%= game.play_time %></td>
        <td><%= game.year %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
