<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Designer:</strong>
  <%= @game.designer %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @game.artist %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @game.publisher %>
</p>

<p>
  <strong>Min players:</strong>
  <%= @game.min_players %>
</p>

<p>
  <strong>Max players:</strong>
  <%= @game.max_players %>
</p>

<p>
  <strong>Play time:</strong>
  <%= @game.play_time %>
</p>

<p>
  <strong>Year:</strong>
  <%= @game.year %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<h3>Play Log</h3>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>
  <% @game.plays.each do |play| %>
    <tr>
      <td><%= play.played_on %></td>
      <td><%= play.note %></td>
      <td><%= link_to 'X', [@game, play], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= form_with(model: [@game, Play.new], local: true) do |form| %>
  <div class="field">
    <%= form.label :played_on %>
    <%= form.date_field :played_on %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
